/* Авторизация */


#auth-wrap {
	position: relative;
	width: 1920px;
	height: 1080px;
	background: #F6F6F6;
}

#modal-auth {
		/* modal */


	/* Auto layout */

	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 24px;
	gap: 20px;

	position: absolute;
	width: 400px;
	height: 464px;
	left: 760px;
	top: 308px;

	/* Gray / White */

	background: #FFFFFF;
	/* Elevation / Lv2 */

	box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
	border-radius: 16px;
}

#dog-pic {
	width: 132px;
	height: 132px;
	background: url("img/dog.svg");
}

#invite {
	/* Войдите в игру */


	width: 352px;
	height: 36px;


	align-items: center;
	text-align: center;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 150%;

	/* Gray / 700 */

	color: #373745;
}

#login, #pass {


	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 12px 20px;
	gap: 8px;

	width: 352px;
	height: 48px;

	background: #FFFFFF;

	border: 1px solid #DCDCDF;
	border-radius: 12px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.24px;

}

#enter {

border: none;

width: 352px;
height: 48px;

background: #60C2AA;
border-radius: 12px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
justify-content: center;
text-align: center;
letter-spacing: 0.24px;

color: #FFFFFF;

}

/* header */

header {

	/* Auto layout */

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16px 40px;
	gap: 10px;

	position: absolute;
	width: 1920px;
	height: 64px;
	left: 0px;
	top: 0px;

	/* Gray / White */

	background: #FFFFFF;
	/* Elevation/Lv1 */

	box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
	border-radius: 0px 0px 16px 16px;
}

#logo {
	/* logo */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 71.5px;
height: 16px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

#nav {
	/* links */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 707px;
height: 32px;



}

#logout {
	/* icon-button */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px;
gap: 10px;

width: 32px;
height: 32px;

border-radius: 1000px;

}

.point {
	

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 12px;
gap: 10px;



border-radius: 200px;

/* Body / 16px medium */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
letter-spacing: 0.24px;

/* Gray / 700 */

color: #373745;
}

.active-button {
	/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 12px;
gap: 10px;

width: 87px;
height: 32px;

background: #60C2AA;
border-radius: 200px;

width: 63px;
height: 24px;

/* Body / 16px medium */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
letter-spacing: 0.24px;

/* Gray / White */

color: #FFFFFF;


}

main {
	/* body */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 24px;

position: absolute;
width: 1026px;
left: calc(50% - 1026px/2);
top: 144px;
bottom: 80px;

/* Gray / White */

background: #FFFFFF;
/* Elevation / Lv2 */

box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
border-radius: 40px;
}

#rating-label {
	/* Рейтинг игроков */


width: 189px;
height: 36px;

/* Headers / H1 – bold */

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */

display: flex;
align-items: center;
text-align: center;

/* Gray / 700 */

color: #373745;
}

.table-head {
	/* row */


display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 0px;
gap: 16px;

width: 962px;
height: 48px;

/* Gray / White */

background: #FFFFFF;
/* Border / Bottom */

box-shadow: inset 0px -1px 0px #EEEFF5;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

#fio {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px;
	gap: 10px;

	width: 440px;
	height: 40px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */


	text-align: center;
	letter-spacing: 0.24px;

	/* Gray / 700 */

	color: #373745;


}

.head-middle {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px;
	gap: 10px;

	width: 108px;
	height: 40px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */

	
	text-align: center;
	letter-spacing: 0.24px;

	/* Gray / 700 */

	color: #373745;
}

.ratio {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px;
	gap: 10px;

	width: 134px;
	height: 40px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */

	
	text-align: center;
	letter-spacing: 0.24px;

	/* Gray / 700 */

	color: #373745;

}

.fio-td {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px;
	gap: 10px;

	width: 440px;
	height: 40px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */

	
	letter-spacing: 0.24px;

	/* Gray / 700 */

	color: #373745;

}

.main-rating {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 32px;
	gap: 24px;

	position: absolute;
	width: 1026px;
	left: calc(50% - 1026px/2);
	top: 144px;
	bottom: 80px;

	/* Gray / White */

	background: #FFFFFF;
	/* Elevation / Lv2 */

	box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
	border-radius: 40px;
}

tr {
	/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 0px;
gap: 16px;

width: 962px;
height: 48px;

/* Gray / White */

background: #FFFFFF;
/* Border / Bottom */

box-shadow: inset 0px -1px 0px #EEEFF5;
}